.container {
	padding: 20px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.addButton {
	background: var(--gradient-blue-red);
	color: #fff;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.actionButton {
	margin: 0 5px;
}

.role {
	background: #ffe4e6;
	color: #ff2d2d;
	padding: 5px 10px;
	border-radius: 4px;
}

.status {
	background: #e4ffe5;
	color: #19cd21;
	padding: 5px 10px;
	border-radius: 4px;
}
