.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	background: #fff;
	z-index: 1000;

	/* Logo */
	&__logo {
		img {
			height: 50px;
			cursor: pointer;
		}
	}

	/* Icon Menu */
	.menuToggle {
		display: none;
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 3000;
		background: transparent;
		border: none;
		font-size: 24px;
		color: #000;
		cursor: pointer;
	}

	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		z-index: 2000;
		display: none;
		justify-content: center;
		align-items: center;
	}

	.overlay.open {
		display: block;
	}

	/* Menu */
	&__nav {
		display: flex;
		z-index: 2500;

		.nav__list {
			display: flex;
			align-items: center;
			list-style: none;
			gap: 20px;
			padding: 0;
			margin: 0;

			.nav__item {
				.nav__link {
					color: #333;
					font-weight: 500;
					transition: color 0.3s;

					&:hover {
						color: var(--primary-main);
					}
				}
			}
		}
	}

	/* Actions */
	&__auth {
		display: flex;
		gap: 10px;

		.auth__login,
		.auth__register {
			padding: 8px 16px;
			font-size: 14px;
			border: none;
			cursor: pointer;
			transition: background 0.3s;
			border-radius: 5px;
		}

		.auth__login {
			background: transparent;
			color: var(--primary-main);
			border: 1px solid var(--primary-main);

			&:hover {
				opacity: 0.9;
			}
		}

		.auth__register {
			background: var(--primary-main);
			color: #fff;

			&:hover {
				opacity: 0.9;
			}
		}
	}

	// Responsive
	/* TABLET */
	@media (max-width: 768px) {
		flex-direction: column;
		align-items: center;

		.overlay.open {
			display: block;
		}

		.menuToggle {
			display: block;
		}

		&__nav {
			display: none;
			width: 100%;
			height: auto;
			position: absolute;
			top: 70px;
			right: 0;
			background: white;
			box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
			border-radius: 5px;
			padding: 20px 0;

			.nav__list {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 0;
				margin: 0;
				gap: 15px;
				.nav__item {
					width: 100%;
					text-align: center;
					padding: 10px 0;

					.nav__link {
						display: block;
						width: 100%;
						padding: 10px 0;
						font-size: 18px;
						font-weight: 600;
						color: #333;
						text-transform: uppercase;
						transition: all 0.3s ease;

						&:hover {
							color: var(--primary-btn);
							background: rgba(0, 0, 0, 0.05);
						}
					}
				}
			}
		}

		&__nav.open {
			display: block;
		}

		&__auth {
			display: none;
		}
	}

	/* MOBILE */
	@media (max-width: 480px) {
		padding: 10px;
		max-width: 100%;

		&__logo {
			img {
				height: 40px;
			}
		}

		&__nav {
			width: 100%;
			justify-content: center;

			.nav__list {
				flex-direction: column;
				align-items: center;
				gap: 10px;
			}
		}

		&__auth {
			flex-direction: column;
			gap: 5px;
			margin-top: 10px;

			.auth__login,
			.auth__register {
				width: 100%;
			}
		}
	}
}
