.container {
	display: flex;
	align-items: center;
	font-size: 16px;
	max-width: 1440px;
	margin: 0 auto;
	padding: 20px 0;
}

.item {
	color: #000;
	font-weight: 700;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.icon {
	margin: 0 8px;
	color: #000;
	display: flex;
	align-items: center;
}

.last {
	color: #828282;
	font-weight: 600;
	cursor: default;
	text-decoration: none;
}
