.table {
	width: 100%;
	border-collapse: collapse;
}

.table th,
.table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.table th {
	background: #405189;
	color: #fff;
	font-weight: 600;
}

.actions {
	display: flex;
	justify-content: center;
}

.role {
	background: #ffe4e6;
	color: #ff2d2d;
	padding: 5px 10px;
	border-radius: 4px;
}

.status {
	background: #e4ffe5;
	color: #19cd21;
	padding: 5px 10px;
	border-radius: 4px;
}
